<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Pegasus</title>
		<link rel="icon" href="/static/img/icon.webp" />
		<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/static/css/style.css" />
	</head>
	<body>
		<nav class="navbar navbar-dark bg-dark fixed-top">
			<div class="container">
				<span class="navbar-brand mb-0 h1">Pegasus</span>
			</div>
		</nav>

		<div class="padding-top h-100 main-image" style="background-image: url('/static/img/gi_index.webp')">
			<div class="container">
				<div class="row flex-row-reverse">
					<div class="col-md-5 align-self-center">
						<h1 class="text-uppercase">кокомимейн снг</h1>
					</div>
				</div>
			</div>
		</div>

		<main>
			<div id="social" class="container border-top">
				<div class="row justify-content-center gy-4 gx-lg-4 mt-5">
					<div class="col-12 mb-3 text-center">
						<h2 class="fs-3 fs-sm-4 text-uppercase">Социальные сети</h2>
					</div>
					{% for name, value in social.items() %}
					<div class="col-lg-5">
						<a
							class="d-flex align-items-center text-decoration-none text-black"
							href="{{ value['href'] }}"
						>
							<img class="col-6 social-image pe-2" src="{{ value['src'] }}" alt="{{ name }}"/>
							<h4 class="m-0">{{ name }}</h4>
						</a>
					</div>
					{% endfor %}
				</div>
			</div>

			<div id="builds" class="container mt-5 border-top">
				<div class="row justify-content-center gy-4 gx-lg-4 mt-5">
					<div class="col-12 mb-3">
						<h2 class="fs-3 fs-sm-4 text-center text-uppercase">Сборки</h2>
						<div class="row">
							<div class="col-2">
								<div class="list-group list-element nav-characters">
									{% for name, value in elements.items()  %}
									<div class="list-group-item list-group-item-action element-card shadow-sm bg-body rounded mb-3 border">
										<img class="col-6 card-img element-image" src="{{ value['src'] }}" alt="{{ name }}"/>
										<a href="#{{ name }}">
											<div class="card-img-overlay d-flex align-items-center justify-content-end">
												<span class="text-decoration-none text-uppercase text-black">
													{{ value["ru"] }}
												</span>
											</div>
										</a>
									</div>
									{% endfor %}
								</div>
							</div>
							<div class="col-10 element-characters">
								<div class="row row-cols-4 justify-content-evenly">
									{% set element_namespace = namespace(element="") %}
									{% for name, values in characters.items() %}
										{% if element_namespace.element != values["element"] %}
											{% set element_namespace.element = values["element"] %}
									<h4 class="col-sm-12 ps-4" id="{{ values['element'] }}">{{ values["element"] }}</h4>
										{% endif %}

									<div class="card character-card col-sm-3 mb-3 mx-4">
										<img
												class="card-img-top{{ ' grayscale' if values['grayscale'] else '' }}"
												src="{{ values['href'] }}" alt="{{ name }}" loading="lazy"/>
										<div class="card-body">
											<h5 class="card-title">{{ name }}</h5>
											 {# <!-- <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="bennet.png">Подробнее</button> --> #}
										</div>
									</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="wish" class="container mt-5 border-top">
				<div class="row justify-content-center gy-4 gx-lg-4 mt-5">
					<div class="col-12 mb-3 text-center">
						<h2 class="fs-3 fs-sm-4 text-uppercase">Молитвы</h2>
					</div>
					<div class="row justify-content-around">
						{% for name, values in win_stat.items() -%}
						<div class="col-md-6">

							<h4 class="col-sm-12 mt-4 mb-2">{{ values["print_name"] }}:</h4>

							<div class="card element-card border rounded shadow-sm bg-body mb-3">
								<img class="card-img wish-image" src="/static/img/{{ values['type'] }}_molitva.png" alt="wish">
								<div class="card-img-overlay wish-card">
									<table class="table m-0">
										<tbody>
											<tr>
												<td>Молитв за все время</td>
												<td>{{ values["count"] }}</td>
											</tr>
											<tr>
												<td>Легендарных</td>
												<td>{{ values["legendary"] }}</td>
											</tr>
											<tr>
												<td>Гарант</td>
												<td>{{ values["avg"] }}</td>
											</tr>
											<tr>
												<td>До гаранта</td>
												<td>{{ values["before"] }}</td>
											</tr>
											<tr>
												<td>После гаранта</td>
												<td>{{ values["after"] }}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>

							<table class="table">
								<thead>
									<tr>
										<th scope="col w-50">Имя</th>
										<th scope="col w-25">Гарант</th>
										<th scope="col w-25">Дата</th>
									</tr>
								</thead>
								<tbody>
									{% for pull in values["pulls"] -%}
									<tr{{ " class='table-info'" if pull["is_weapon"] else "" }}>
										<td class="w-50">{{ pull["print_name"] }}</td>
										<td class="w-25">{{ pull["pity"] }}</td>
										<td class="w-25">{{ pull["time"] }}</td>
									</tr>
									{% endfor -%}
								</tbody>
							</table>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>

			<!-- <button -->
			<!--   type="button" class="btn btn-primary collapsed" data-bs-toggle="collapse"-->
			<!--   data-bs-target="#wish" aria-expanded="false" aria-controls="wish"-->
			<!--   style="max-width: 250px"-->
			<!-- >-->
			<!-- </button>-->

			<div class="modal fade" id="exampleModal" tabindex="-1">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="card bg-dark">
							<img class="card-img-top modal-image-character" loading="lazy" />
						</div>
					</div>
				</div>
			</div>
		</main>

		<footer class="bg-dark py-3 my-4">
			<div class="container">
				<ul class="nav justify-content-center border-bottom pb-3 mb-3">
					<li class="nav-item"><a href="#social" class="nav-link px-2 text-muted">Социальные сети</a></li>
					<li class="nav-item"><a href="#builds" class="nav-link px-2 text-muted">Сборки</a></li>
					<li class="nav-item"><a href="#wish" class="nav-link px-2 text-muted">Молитвы</a></li>
				</ul>
				<p class="text-center text-muted">© 2024 viad8991</p>
			</div>
		</footer>

		<script src="./js/bootstrap.min.js"></script>
		<script src="./js/script.js"></script>
	</body>
</html>
