<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Pegasus</title>
		<link rel="icon" href="img/itall.png" />
		<link rel="stylesheet" href="./css/bootstrap.min.css" />
		<link rel="stylesheet" href="./css/style.css" />
	</head>
	<body>
		<nav class="navbar navbar-dark bg-dark fixed-top">
			<div class="container">
				<span class="navbar-brand mb-0 h1">Pegasus</span>
			</div>
		</nav>

		<div class="padding-top h-100 gi-image">
			<div class="container">
				<div class="row flex-row-reverse">
					<div class="col-md-5 align-self-center">
						<h1 class="text-uppercase">кокомимейн снг</h1>
					</div>
				</div>
			</div>
		</div>

		<main>
			<div id="social" class="container border-top">
				<div class="row justify-content-center gy-4 gx-lg-4 mt-5">
					<div class="col-12 mb-3 text-center">
						<h2 class="fs-3 fs-sm-4 text-uppercase">Социальные сети</h2>
					</div>
					<div class="col-lg-5">
						<a
							class="d-flex align-items-center text-decoration-none text-black"
							href="https://www.youtube.com/"
						>
							<img
								class="col-6 social-image pe-2"
								src="img/social/youtube.svg"
								alt="YouTube"
							/>
							<h4 class="m-0">You Tube</h4>
						</a>
					</div>
					<div class="col-lg-5">
						<a
							class="d-flex align-items-center text-decoration-none text-black"
							href="https://www.twitch.tv/"
						>
							<img
								class="col-6 social-image pe-2"
								src="img/social/twitch.svg"
								alt="Twitch"
							/>
							<h4 class="m-0">twitch</h4>
						</a>
					</div>
					<div class="col-lg-5">
						<a
							class="d-flex align-items-center text-decoration-none text-black"
							href="https://vk.com/"
						>
							<img
								class="col-6 social-image pe-2"
								src="img/social/vk.svg"
								alt="VK"
							/>
							<h4 class="m-0">VK</h4>
						</a>
					</div>
					<div class="col-lg-5">
						<a
							class="d-flex align-items-center text-decoration-none text-black"
							href="https://open.spotify.com/"
						>
							<img
								class="col-6 social-image pe-2"
								src="img/social/spotify.svg"
								alt="Spotify"
							/>
							<h4 class="m-0">Spotify</h4>
						</a>
					</div>
					<div class="col-lg-5">
						<a
							class="d-flex align-items-center text-decoration-none text-black"
							href="https://discord.com/"
						>
							<img
								class="col-6 social-image pe-2"
								src="img/social/discord.svg"
								alt="Discord"
							/>
							<h4 class="m-0">Discord</h4>
						</a>
					</div>
					<div class="col-lg-5">
						<a
							class="d-flex align-items-center text-decoration-none text-black"
							href="https://instagram.com/"
						>
							<img
								class="col-6 social-image pe-2"
								src="img/social/instagram.svg"
								alt="Instagram"
							/>
							<h4 class="m-0">Instagram</h4>
						</a>
					</div>
					<div class="col-lg-5">
						<a
							class="d-flex align-items-center text-decoration-none text-black"
							href="https://www.hoyolab.com/"
						>
							<img
								class="col-6 social-image pe-2"
								src="img/social/hoyolab.png"
								alt="HoYoLAB"
							/>
							<h4 class="m-0">HoYoLAB</h4>
						</a>
					</div>
					<div class="col-lg-5">
						<a
							class="d-flex align-items-center text-decoration-none text-black"
							href="https://twitter.com/"
						>
							<img
								class="col-6 social-image pe-2"
								src="img/social/twitter.svg"
								alt="X"
							/>
							<h4 class="m-0">X</h4>
						</a>
					</div>
				</div>
			</div>

			<div id="builds" class="container mt-5 border-top">
				<div class="row justify-content-center gy-4 gx-lg-4 mt-5">
					<div class="col-12 mb-3">
						<h2 class="fs-3 fs-sm-4 text-center text-uppercase">Сборки</h2>
						<div class="row">
							<div class="col-2">
								<div class="list-group list-element nav-characters">
									<div
										class="list-group-item list-group-item-action element-card shadow-sm bg-body rounded mb-3 border"
									>
										<img
											class="col-6 card-img element-image"
											src="img/element/Pyro.svg"
											alt="pyro"
										/>
										<a href="#pyro">
											<div
												class="card-img-overlay d-flex align-items-center justify-content-center"
											>
												<span
													class="text-decoration-none text-uppercase text-black"
												>
													Пиро
												</span>
											</div>
										</a>
									</div>

									<div
										class="list-group-item list-group-item-action element-card shadow-sm bg-body rounded mb-3 border"
									>
										<img
											class="col-6 card-img element-image"
											src="img/element/Hydro.svg"
											alt="hydro"
										/>
										<a href="#hydro">
											<div
												class="card-img-overlay d-flex align-items-center justify-content-center"
											>
												<span
													class="text-decoration-none text-uppercase text-black"
												>
													Гидро
												</span>
											</div>
										</a>
									</div>

									<div
										class="list-group-item list-group-item-action element-card shadow-sm bg-body rounded mb-3 border"
									>
										<img
											class="col-6 card-img element-image"
											src="img/element/Cryo.svg"
											alt="cryo"
										/>
										<a href="#cryo">
											<div
												class="card-img-overlay d-flex align-items-center justify-content-center"
											>
												<span
													class="text-decoration-none text-uppercase text-black"
												>
													Крио
												</span>
											</div>
										</a>
									</div>

									<div
										class="list-group-item list-group-item-action element-card shadow-sm bg-body rounded mb-3 border"
									>
										<img
											class="col-6 card-img element-image"
											src="img/element/Electro.svg"
											alt="electro"
										/>
										<a href="#electro">
											<div
												class="card-img-overlay d-flex align-items-center justify-content-center"
											>
												<span
													class="text-decoration-none text-uppercase text-black"
												>
													Электро
												</span>
											</div>
										</a>
									</div>

									<div
										class="list-group-item list-group-item-action element-card shadow-sm bg-body rounded mb-3 border"
									>
										<img
											class="col-6 card-img element-image"
											src="img/element/Geo.svg"
											alt="geo"
										/>
										<a href="#geo">
											<div
												class="card-img-overlay d-flex align-items-center justify-content-center"
											>
												<span
													class="text-decoration-none text-uppercase text-black"
												>
													Гео
												</span>
											</div>
										</a>
									</div>

									<div
										class="list-group-item list-group-item-action element-card shadow-sm bg-body rounded mb-3 border"
									>
										<img
											class="col-6 card-img element-image"
											src="img/element/Anemo.svg"
											alt="anemo"
										/>
										<a href="#anemo">
											<div
												class="card-img-overlay d-flex align-items-center justify-content-center"
											>
												<span
													class="text-decoration-none text-uppercase text-black"
												>
													Анемо
												</span>
											</div>
										</a>
									</div>
								</div>
							</div>
							<div class="col-10 element-characters">
								<div class="row row-cols-4">
									<h4 class="col-sm-12 ps-4" id="pyro">Пиро</h4>
									<div class="col-sm-3 card character-card mb-3 mx-4">
										<img
											src="img/characters/Bennett.png"
											class="card-img-top"
											loading="lazy"
											alt="Беннет"
										/>
										<div class="card-body">
											<h5 class="card-title">Беннет</h5>
											<button
												type="button"
												class="btn btn-danger"
												data-bs-toggle="modal"
												data-bs-target="#exampleModal"
												data-bs-whatever="bennet.png"
											>
												Подробнее
											</button>
										</div>
									</div>
									<div class="col-sm-3 card character-card mb-3 mx-4">
										<img
											src="img/characters/Diluc.png"
											class="card-img-top grayscale"
											loading="lazy"
											alt="Дилюк"
										/>
										<div class="card-body">
											<h5 class="card-title">Дилюк</h5>
											<button
												type="button"
												class="btn btn-danger"
												data-bs-toggle="modal"
												data-bs-target="#exampleModal"
												data-bs-whatever="diluc.png"
												disabled
											>
												Подробнее
											</button>
										</div>
									</div>
									<div class="col-sm-3 card character-card mb-3 mx-4">
										<img
											src="img/characters/Yoimiya.png"
											class="card-img-top"
											loading="lazy"
											alt="Ёимия"
										/>
										<div class="card-body">
											<h5 class="card-title">Ёимия</h5>
											<button
												type="button"
												class="btn btn-danger"
												data-bs-toggle="modal"
												data-bs-target="#exampleModal"
												data-bs-whatever="yoimiya.png"
											>
												Подробнее
											</button>
										</div>
									</div>
									<div class="col-sm-3 card character-card mb-3 mx-4">
										<img
											src="img/characters/Klee.png"
											class="card-img-top grayscale"
											loading="lazy"
											alt="Кли"
										/>
										<div class="card-body">
											<h5 class="card-title">Кли</h5>
											<button
												type="button"
												class="btn btn-danger"
												data-bs-toggle="modal"
												data-bs-target="#exampleModal"
												data-bs-whatever="klee.png"
												disabled
											>
												Подробнее
											</button>
										</div>
									</div>
									<div class="col-sm-3 card character-card mb-3 mx-4">
										<img
											src="img/characters/Xinyan.png"
											class="card-img-top grayscale"
											loading="lazy"
											alt="Синь Янь"
										/>
										<div class="card-body">
											<h5 class="card-title">Синь Янь</h5>
											<button
												type="button"
												class="btn btn-danger"
												data-bs-toggle="modal"
												data-bs-target="#exampleModal"
												data-bs-whatever="xinyan.png"
												disabled
											>
												Подробнее
											</button>
										</div>
									</div>
									<div class="col-sm-3 card character-card mb-3 mx-4">
										<img
											src="img/characters/Tohma.png"
											class="card-img-top grayscale"
											loading="lazy"
											alt="Тома"
										/>
										<div class="card-body">
											<h5 class="card-title">Тома</h5>
											<button
												type="button"
												class="btn btn-danger"
												data-bs-toggle="modal"
												data-bs-target="#exampleModal"
												data-bs-whatever="tohma.png"
												disabled
											>
												Подробнее
											</button>
										</div>
									</div>
									<div class="col-sm-3 card character-card mb-3 mx-4">
										<img
											src="img/characters/Xiangling.png"
											class="card-img-top"
											loading="lazy"
											alt="Сян Лин"
										/>
										<div class="card-body">
											<h5 class="card-title">Сян Лин</h5>
											<button
												type="button"
												class="btn btn-danger"
												data-bs-toggle="modal"
												data-bs-target="#exampleModal"
												data-bs-whatever="xiangling.png"
											>
												Подробнее
											</button>
										</div>
									</div>
									<div class="col-sm-3 card character-card mb-3 mx-4">
										<img
											src="img/characters/HuTao.png"
											class="card-img-top"
											loading="lazy"
											alt="Ху Тао"
										/>
										<div class="card-body">
											<h5 class="card-title">Ху Тао</h5>
											<button
												type="button"
												class="btn btn-danger"
												data-bs-toggle="modal"
												data-bs-target="#exampleModal"
												data-bs-whatever="hutao.png"
											>
												Подробнее
											</button>
										</div>
									</div>
									<div class="col-sm-3 card character-card mb-3 mx-4">
										<img
											src="img/characters/Ambor.png"
											class="card-img-top grayscale"
											loading="lazy"
											alt="Эмбер"
										/>
										<div class="card-body">
											<h5 class="card-title">Эмбер</h5>
											<button
												type="button"
												class="btn btn-danger"
												data-bs-toggle="modal"
												data-bs-target="#exampleModal"
												data-bs-whatever="ambor.png"
												disabled
											>
												Подробнее
											</button>
										</div>
									</div>
									<div class="col-sm-3 card character-card mb-3 mx-4">
										<img
											src="img/characters/Feiyan.png"
											class="card-img-top grayscale"
											loading="lazy"
											alt="Янь Фэй"
										/>
										<div class="card-body">
											<h5 class="card-title">Янь Фэй</h5>
											<button
												type="button"
												class="btn btn-danger"
												data-bs-toggle="modal"
												data-bs-target="#exampleModal"
												data-bs-whatever="feiyan.png"
												disabled
											>
												Подробнее
											</button>
										</div>
									</div>

									<h4 class="col-sm-12 ps-4" id="hydro">Гидро</h4>
									<div class="col-sm-3 card character-card mb-3 mx-4">
										<img
											src="img/characters/Ayato.png"
											class="card-img-top grayscale"
											loading="lazy"
											alt="Аято"
										/>
										<div class="card-body">
											<h5 class="card-title">Аято</h5>
											<button
												type="button"
												class="btn btn-primary"
												data-bs-toggle="modal"
												data-bs-target="#exampleModal"
												data-bs-whatever="ayato.png"
												disabled
											>
												Подробнее
											</button>
										</div>
									</div>
									<div class="col-sm-3 card character-card mb-3 mx-4">
										<img
											src="img/characters/Barbara.png"
											class="card-img-top grayscale"
											loading="lazy"
											alt="Барбара"
										/>
										<div class="card-body">
											<h5 class="card-title">Барбара</h5>
											<button
												type="button"
												class="btn btn-primary"
												data-bs-toggle="modal"
												data-bs-target="#exampleModal"
												data-bs-whatever="barbara.png"
												disabled
											>
												Подробнее
											</button>
										</div>
									</div>
									<div class="col-sm-3 card character-card mb-3 mx-4">
										<img
											src="img/characters/Yelan.png"
											class="card-img-top grayscale"
											loading="lazy"
											alt="Е Лань"
										/>
										<div class="card-body">
											<h5 class="card-title">Е Лань</h5>
											<button
												type="button"
												class="btn btn-primary"
												data-bs-toggle="modal"
												data-bs-target="#exampleModal"
												data-bs-whatever="yelan.png"
												disabled
											>
												Подробнее
											</button>
										</div>
									</div>
									<div class="col-sm-3 card character-card mb-3 mx-4">
										<img
											src="img/characters/Kokomi.png"
											class="card-img-top"
											loading="lazy"
											alt="Кокоми"
										/>
										<div class="card-body">
											<h5 class="card-title">Кокоми</h5>
											<button
												type="button"
												class="btn btn-primary"
												data-bs-toggle="modal"
												data-bs-target="#exampleModal"
												data-bs-whatever="kokomi.png"
											>
												Подробнее
											</button>
										</div>
									</div>
									<div class="col-sm-3 card character-card mb-3 mx-4">
										<img
											src="img/characters/Mona.png"
											class="card-img-top grayscale"
											loading="lazy"
											alt="Мона"
										/>
										<div class="card-body">
											<h5 class="card-title">Мона</h5>
											<button
												type="button"
												class="btn btn-primary"
												data-bs-toggle="modal"
												data-bs-target="#exampleModal"
												data-bs-whatever="mona.png"
												disabled
											>
												Подробнее
											</button>
										</div>
									</div>
									<div class="col-sm-3 card character-card mb-3 mx-4">
										<img
											src="img/characters/Xingqiu.png"
											class="card-img-top"
											loading="lazy"
											alt="Син Цю"
										/>
										<div class="card-body">
											<h5 class="card-title">Син Цю</h5>
											<button
												type="button"
												class="btn btn-primary"
												data-bs-toggle="modal"
												data-bs-target="#exampleModal"
												data-bs-whatever="xingqiu.png"
											>
												Подробнее
											</button>
										</div>
									</div>
									<div class="col-sm-3 card character-card mb-3 mx-4">
										<img
											src="img/characters/Tartaglia.png"
											class="card-img-top"
											loading="lazy"
											alt="Тарталья"
										/>
										<div class="card-body">
											<h5 class="card-title">Тарталья</h5>
											<button
												type="button"
												class="btn btn-primary"
												data-bs-toggle="modal"
												data-bs-target="#exampleModal"
												data-bs-whatever="tartaglia.png"
											>
												Подробнее
											</button>
										</div>
									</div>

									<h4 class="col-sm-12 ps-4" id="cryo">Крио</h4>
									<div class="col-sm-3 card character-card mb-3 mx-4">
										<img
											src="img/characters/Ayaka.png"
											class="card-img-top"
											loading="lazy"
											alt="Аяка"
										/>
										<div class="card-body">
											<h5 class="card-title">Аяка</h5>
											<button
												type="button"
												class="btn btn-info"
												data-bs-toggle="modal"
												data-bs-target="#exampleModal"
												data-bs-whatever="ayaka.png"
											>
												Подробнее
											</button>
										</div>
									</div>
									<div class="col-sm-3 card character-card mb-3 mx-4">
										<img
											src="img/characters/Ganyu.png"
											class="card-img-top"
											loading="lazy"
											alt="Гань Юй"
										/>
										<div class="card-body">
											<h5 class="card-title">Гань Юй</h5>
											<button
												type="button"
												class="btn btn-info"
												data-bs-toggle="modal"
												data-bs-target="#exampleModal"
												data-bs-whatever="ganyu.png"
											>
												Подробнее
											</button>
										</div>
									</div>
									<div class="col-sm-3 card character-card mb-3 mx-4">
										<img
											src="img/characters/Diona.png"
											class="card-img-top"
											loading="lazy"
											alt="Диона"
										/>
										<div class="card-body">
											<h5 class="card-title">Диона</h5>
											<button
												type="button"
												class="btn btn-info"
												data-bs-toggle="modal"
												data-bs-target="#exampleModal"
												data-bs-whatever="diona.png"
											>
												Подробнее
											</button>
										</div>
									</div>
									<div class="col-sm-3 card character-card mb-3 mx-4">
										<img
											src="img/characters/Kaeya.png"
											class="card-img-top grayscale"
											loading="lazy"
											alt="Кэйа"
										/>
										<div class="card-body">
											<h5 class="card-title">Кэйа</h5>
											<button
												type="button"
												class="btn btn-info"
												data-bs-toggle="modal"
												data-bs-target="#exampleModal"
												data-bs-whatever="kaeya.png"
												disabled
											>
												Подробнее
											</button>
										</div>
									</div>
									<div class="col-sm-3 card character-card mb-3 mx-4">
										<img
											src="img/characters/Rosaria.png"
											class="card-img-top"
											loading="lazy"
											alt="Розария"
										/>
										<div class="card-body">
											<h5 class="card-title">Розария</h5>
											<button
												type="button"
												class="btn btn-info"
												data-bs-toggle="modal"
												data-bs-target="#exampleModal"
												data-bs-whatever="rosaria.png"
											>
												Подробнее
											</button>
										</div>
									</div>
									<div class="col-sm-3 card character-card mb-3 mx-4">
										<img
											src="img/characters/Qiqi.png"
											class="card-img-top grayscale"
											loading="lazy"
											alt="Ци Ци"
										/>
										<div class="card-body">
											<h5 class="card-title">Ци Ци</h5>
											<button
												type="button"
												class="btn btn-info"
												data-bs-toggle="modal"
												data-bs-target="#exampleModal"
												data-bs-whatever="qiqi.png"
												disabled
											>
												Подробнее
											</button>
										</div>
									</div>
									<div class="col-sm-3 card character-card mb-3 mx-4">
										<img
											src="img/characters/Chongyun.png"
											class="card-img-top grayscale"
											loading="lazy"
											alt="Чун Юнь"
										/>
										<div class="card-body">
											<h5 class="card-title">Чун Юнь</h5>
											<button
												type="button"
												class="btn btn-info"
												data-bs-toggle="modal"
												data-bs-target="#exampleModal"
												data-bs-whatever="chongyun.png"
												disabled
											>
												Подробнее
											</button>
										</div>
									</div>
									<div class="col-sm-3 card character-card mb-3 mx-4">
										<img
											src="img/characters/Shenhe.png"
											class="card-img-top"
											loading="lazy"
											alt="Шэнь Хэ"
										/>
										<div class="card-body">
											<h5 class="card-title">Шэнь Хэ</h5>
											<button
												type="button"
												class="btn btn-info"
												data-bs-toggle="modal"
												data-bs-target="#exampleModal"
												data-bs-whatever="shenhe.png"
											>
												Подробнее
											</button>
										</div>
									</div>
									<div class="col-sm-3 card character-card mb-3 mx-4">
										<img
											src="img/characters/Aloy.png"
											class="card-img-top grayscale"
											loading="lazy"
											alt="Элой"
										/>
										<div class="card-body">
											<h5 class="card-title">Элой</h5>
											<button
												type="button"
												class="btn btn-info"
												data-bs-toggle="modal"
												data-bs-target="#exampleModal"
												data-bs-whatever="aloy.png"
												disabled
											>
												Подробнее
											</button>
										</div>
									</div>
									<div class="col-sm-3 card character-card mb-3 mx-4">
										<img
											src="img/characters/Eula.png"
											class="card-img-top"
											loading="lazy"
											alt="Эола"
										/>
										<div class="card-body">
											<h5 class="card-title">Эола</h5>
											<button
												type="button"
												class="btn btn-info"
												data-bs-toggle="modal"
												data-bs-target="#exampleModal"
												data-bs-whatever="eula.png"
											>
												Подробнее
											</button>
										</div>
									</div>

									<h4 class="col-sm-12 ps-4" id="electro">Электро</h4>
									<div class="col-sm-3 card character-card mb-3 mx-4">
										<img
											src="img/characters/Beidou.png"
											class="card-img-top"
											loading="lazy"
											alt="Бэй Доу"
										/>
										<div class="card-body">
											<h5 class="card-title">Бэй Доу</h5>
											<button
												type="button"
												class="btn btn-purple"
												data-bs-toggle="modal"
												data-bs-target="#exampleModal"
												data-bs-whatever="beidou.png"
											>
												Подробнее
											</button>
										</div>
									</div>
									<div class="col-sm-3 card character-card mb-3 mx-4">
										<img
											src="img/characters/Keqing.png"
											class="card-img-top grayscale"
											loading="lazy"
											alt="Кэ Цин"
										/>
										<div class="card-body">
											<h5 class="card-title">Кэ Цин</h5>
											<button
												type="button"
												class="btn btn-purple"
												data-bs-toggle="modal"
												data-bs-target="#exampleModal"
												data-bs-whatever="keqing.png"
												disabled
											>
												Подробнее
											</button>
										</div>
									</div>
									<div class="col-sm-3 card character-card mb-3 mx-4">
										<img
											src="img/characters/Lisa.png"
											class="card-img-top grayscale"
											loading="lazy"
											alt="Лиза"
										/>
										<div class="card-body">
											<h5 class="card-title">Лиза</h5>
											<button
												type="button"
												class="btn btn-purple"
												data-bs-toggle="modal"
												data-bs-target="#exampleModal"
												data-bs-whatever="lisa.png"
												disabled
											>
												Подробнее
											</button>
										</div>
									</div>
									<div class="col-sm-3 card character-card mb-3 mx-4">
										<img
											src="img/characters/Shougun.png"
											class="card-img-top"
											loading="lazy"
											alt="Райдэн"
										/>
										<div class="card-body">
											<h5 class="card-title">Райдэн</h5>
											<button
												type="button"
												class="btn btn-purple"
												data-bs-toggle="modal"
												data-bs-target="#exampleModal"
												data-bs-whatever="baal.png"
											>
												Подробнее
											</button>
										</div>
									</div>
									<div class="col-sm-3 card character-card mb-3 mx-4">
										<img
											src="img/characters/Razor.png"
											class="card-img-top grayscale"
											loading="lazy"
											alt="Рэйзор"
										/>
										<div class="card-body">
											<h5 class="card-title">Рэйзор</h5>
											<button
												type="button"
												class="btn btn-purple"
												data-bs-toggle="modal"
												data-bs-target="#exampleModal"
												data-bs-whatever="razor.png"
												disabled
											>
												Подробнее
											</button>
										</div>
									</div>
									<div class="col-sm-3 card character-card mb-3 mx-4">
										<img
											src="img/characters/Sara.png"
											class="card-img-top grayscale"
											loading="lazy"
											alt="Сара"
										/>
										<div class="card-body">
											<h5 class="card-title">Сара</h5>
											<button
												type="button"
												class="btn btn-purple"
												data-bs-toggle="modal"
												data-bs-target="#exampleModal"
												data-bs-whatever="sara.png"
												disabled
											>
												Подробнее
											</button>
										</div>
									</div>
									<div class="col-sm-3 card character-card mb-3 mx-4">
										<img
											src="img/characters/Fischl.png"
											class="card-img-top"
											loading="lazy"
											alt="Фишль"
										/>
										<div class="card-body">
											<h5 class="card-title">Фишль</h5>
											<button
												type="button"
												class="btn btn-purple"
												data-bs-toggle="modal"
												data-bs-target="#exampleModal"
												data-bs-whatever="fischl.png"
											>
												Подробнее
											</button>
										</div>
									</div>
									<div class="col-sm-3 card character-card mb-3 mx-4">
										<img
											src="img/characters/Yae.png"
											class="card-img-top"
											loading="lazy"
											alt="Яэ Мико"
										/>
										<div class="card-body">
											<h5 class="card-title">Яэ Мико</h5>
											<button
												type="button"
												class="btn btn-purple"
												data-bs-toggle="modal"
												data-bs-target="#exampleModal"
												data-bs-whatever="yae.png"
											>
												Подробнее
											</button>
										</div>
									</div>

									<h4 class="col-sm-12 ps-4" id="geo">Гео</h4>
									<div class="col-sm-3 card character-card mb-3 mx-4">
										<img
											src="img/characters/Albedo.png"
											class="card-img-top"
											loading="lazy"
											alt="Альбедо"
										/>
										<div class="card-body">
											<h5 class="card-title">Альбедо</h5>
											<button
												type="button"
												class="btn btn-warning"
												data-bs-toggle="modal"
												data-bs-target="#exampleModal"
												data-bs-whatever="albedo.png"
											>
												Подробнее
											</button>
										</div>
									</div>
									<div class="col-sm-3 card character-card mb-3 mx-4">
										<img
											src="img/characters/Gorou.png"
											class="card-img-top grayscale"
											loading="lazy"
											alt="Горо"
										/>
										<div class="card-body">
											<h5 class="card-title">Горо</h5>
											<button
												type="button"
												class="btn btn-warning"
												data-bs-toggle="modal"
												data-bs-target="#exampleModal"
												data-bs-whatever="gorou.png"
												disabled
											>
												Подробнее
											</button>
										</div>
									</div>
									<div class="col-sm-3 card character-card mb-3 mx-4">
										<img
											src="img/characters/Itto.png"
											class="card-img-top grayscale"
											loading="lazy"
											alt="Итто"
										/>
										<div class="card-body">
											<h5 class="card-title">Итто</h5>
											<button
												type="button"
												class="btn btn-warning"
												data-bs-toggle="modal"
												data-bs-target="#exampleModal"
												data-bs-whatever="itto.png"
												disabled
											>
												Подробнее
											</button>
										</div>
									</div>
									<div class="col-sm-3 card character-card mb-3 mx-4">
										<img
											src="img/characters/Ningguang.png"
											class="card-img-top grayscale"
											loading="lazy"
											alt="Нин Гуан"
										/>
										<div class="card-body">
											<h5 class="card-title">Нин Гуан</h5>
											<button
												type="button"
												class="btn btn-warning"
												data-bs-toggle="modal"
												data-bs-target="#exampleModal"
												data-bs-whatever="ningguang.png"
												disabled
											>
												Подробнее
											</button>
										</div>
									</div>
									<div class="col-sm-3 card character-card mb-3 mx-4">
										<img
											src="img/characters/Noel.png"
											class="card-img-top grayscale"
											loading="lazy"
											alt="Ноэлль"
										/>
										<div class="card-body">
											<h5 class="card-title">Ноэлль</h5>
											<button
												type="button"
												class="btn btn-warning"
												data-bs-toggle="modal"
												data-bs-target="#exampleModal"
												data-bs-whatever="noel.png"
												disabled
											>
												Подробнее
											</button>
										</div>
									</div>
									<div class="col-sm-3 card character-card mb-3 mx-4">
										<img
											src="img/characters/Zhongli.png"
											class="card-img-top"
											loading="lazy"
											alt="Чжун Ли"
										/>
										<div class="card-body">
											<h5 class="card-title">Чжун Ли</h5>
											<button
												type="button"
												class="btn btn-warning"
												data-bs-toggle="modal"
												data-bs-target="#exampleModal"
												data-bs-whatever="jun.png"
											>
												Подробнее
											</button>
										</div>
									</div>
									<div class="col-sm-3 card character-card mb-3 mx-4">
										<img
											src="img/characters/Yunjin.png"
											class="card-img-top grayscale"
											loading="lazy"
											alt="Юнь Цзинь"
										/>
										<div class="card-body">
											<h5 class="card-title">Юнь Цзинь</h5>
											<button
												type="button"
												class="btn btn-warning"
												data-bs-toggle="modal"
												data-bs-target="#exampleModal"
												data-bs-whatever="yunjin.png"
												disabled
											>
												Подробнее
											</button>
										</div>
									</div>

									<h4 class="col-sm-12 ps-4" id="anemo">Анемо</h4>
									<div class="col-sm-3 card character-card mb-3 mx-4">
										<img
											src="img/characters/Venti.png"
											class="card-img-top"
											loading="lazy"
											alt="Венти"
										/>
										<div class="card-body">
											<h5 class="card-title">Венти</h5>
											<button
												type="button"
												class="btn btn-teal"
												data-bs-toggle="modal"
												data-bs-target="#exampleModal"
												data-bs-whatever="venti.png"
											>
												Подробнее
											</button>
										</div>
									</div>
									<div class="col-sm-3 card character-card mb-3 mx-4">
										<img
											src="img/characters/Qin.png"
											class="card-img-top grayscale"
											loading="lazy"
											alt="Джинн"
										/>
										<div class="card-body">
											<h5 class="card-title">Джинн</h5>
											<button
												type="button"
												class="btn btn-teal"
												data-bs-toggle="modal"
												data-bs-target="#exampleModal"
												data-bs-whatever="qin.png"
												disabled
											>
												Подробнее
											</button>
										</div>
									</div>
									<div class="col-sm-3 card character-card mb-3 mx-4">
										<img
											src="img/characters/Kazuha.png"
											class="card-img-top"
											loading="lazy"
											alt="Кадзуха"
										/>
										<div class="card-body">
											<h5 class="card-title">Кадзуха</h5>
											<button
												type="button"
												class="btn btn-teal"
												data-bs-toggle="modal"
												data-bs-target="#exampleModal"
												data-bs-whatever="kazuha.png"
											>
												Подробнее
											</button>
										</div>
									</div>
									<div class="col-sm-3 card character-card mb-3 mx-4">
										<img
											src="img/characters/Sucrose.png"
											class="card-img-top grayscale"
											loading="lazy"
											alt="Сахароза"
										/>
										<div class="card-body">
											<h5 class="card-title">Сахароза</h5>
											<button
												type="button"
												class="btn btn-teal"
												data-bs-toggle="modal"
												data-bs-target="#exampleModal"
												data-bs-whatever="sucrose.png"
												disabled
											>
												Подробнее
											</button>
										</div>
									</div>
									<div class="col-sm-3 card character-card mb-3 mx-4">
										<img
											src="img/characters/Sayu.png"
											class="card-img-top grayscale"
											loading="lazy"
											alt="Саю"
										/>
										<div class="card-body">
											<h5 class="card-title">Саю</h5>
											<button
												type="button"
												class="btn btn-teal"
												data-bs-toggle="modal"
												data-bs-target="#exampleModal"
												data-bs-whatever="sayu.png"
												disabled
											>
												Подробнее
											</button>
										</div>
									</div>
									<div class="col-sm-3 card character-card mb-3 mx-4">
										<img
											src="img/characters/Xiao.png"
											class="card-img-top grayscale"
											loading="lazy"
											alt="Сяо"
										/>
										<div class="card-body">
											<h5 class="card-title">Сяо</h5>
											<button
												type="button"
												class="btn btn-teal"
												data-bs-toggle="modal"
												data-bs-target="#exampleModal"
												disabled
												data-bs-whatever="xiao.png"
											>
												Подробнее
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="wish" class="container mt-5 border-top">
				<div class="row justify-content-center gy-4 gx-lg-4 mt-5">
					<div class="col-12 mb-3 text-center">
						<h2 class="fs-3 fs-sm-4 text-uppercase">Молитвы</h2>
					</div>
					<div class="row justify-content-around">
						{% for name, values in win_stat.items() -%}
						<div class="col-md-6">

							<h4 class="col-sm-12 mt-4 mb-2">{{ values["print_name"] }}:</h4>

							<div class="card element-card border rounded shadow-sm bg-body mb-3">
								<img class="card-img wish-image" src="img/{{ values['type'] }}_molitva.png" alt="wish">
								<div class="card-img-overlay wish-card">
									<table class="table m-0">
										<tbody>
											<tr>
												<td>Молитв за все время</td>
												<td>{{ values["count"] }}</td>
											</tr>
											<tr>
												<td>Легендарных</td>
												<td>{{ values["legendary"] }}</td>
											</tr>
											<tr>
												<td>Гарант</td>
												<td>{{ values["avg"] }}</td>
											</tr>
											<tr>
												<td>До гаранта</td>
												<td>{{ values["before"] }}</td>
											</tr>
											<tr>
												<td>После гаранта</td>
												<td>{{ values["after"] }}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>

							<table class="table">
								<thead>
									<tr>
										<th scope="col w-50">Имя</th>
										<th scope="col w-25">Гарант</th>
										<th scope="col w-25">Дата</th>
									</tr>
								</thead>
								<tbody>
									{% for pull in values["pulls"] -%}
									<tr{{ " class='table-info'" if pull["is_weapon"] else "" }}>
										<td class="w-50">{{ pull["print_name"] }}</td>
										<td class="w-25">{{ pull["pity"] }}</td>
										<td class="w-25">{{ pull["time"] }}</td>
									</tr>
									{% endfor -%}
								</tbody>
							</table>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>

			<!-- <button -->
			<!--   type="button" class="btn btn-primary collapsed" data-bs-toggle="collapse"-->
			<!--   data-bs-target="#wish" aria-expanded="false" aria-controls="wish"-->
			<!--   style="max-width: 250px"-->
			<!-- >-->
			<!-- </button>-->

			<div class="modal fade" id="exampleModal" tabindex="-1">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="card bg-dark">
							<img class="card-img-top modal-image-character" loading="lazy" />
						</div>
					</div>
				</div>
			</div>
		</main>

		<footer class="bg-dark py-3 my-4">
			<div class="container">
				<ul class="nav justify-content-center border-bottom pb-3 mb-3">
					<li class="nav-item"><a href="#social" class="nav-link px-2 text-muted">Социальные сети</a></li>
					<li class="nav-item"><a href="#builds" class="nav-link px-2 text-muted">Сборки</a></li>
					<li class="nav-item"><a href="#wish" class="nav-link px-2 text-muted">Молитвы</a></li>
				</ul>
				<p class="text-center text-muted">© 2022 ItAllCanWait.site</p>
			</div>
		</footer>

		<script src="./js/bootstrap.min.js"></script>
		<script src="./js/script.js"></script>
	</body>
</html>
